# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

#API Key and token for Trello
TRELLO_API_KEY=Your Trello API Key
TRELLO_TOKEN=Your Trello API Token
TRELLO_BOARD_NAME=Your Trello Board Name