{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <h2>Add Item</h2>
        <form action="{{ url_for('addItem') }}" method="POST">
          <div class="form-row">
            <div class="form-group col-md-8">
              <input type="text" class="form-control" name="title" id="title" required>
            </div>
            <div class="form-group col-md-3">
              <input type="submit" class="btn btn-success btn-block" value="Add">
            </div>
          </div> 
        </form>
        {% with error_messages = get_flashed_messages() %}
        {% if error_messages %}
          {% for error_message in error_messages %}
            <p class="text-danger">{{ error_message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <table class="table table-bordered mb-4">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
              <tr>
                <td>{{loop.index}}</td>
                <td>{{item.title}}</td>
                <td>{{item.status}}</td>

                <td class="d-flex justify-content-center">

                  {% if item.status != 'Completed' %}
                    <form action="{{ url_for('markComplete') }}" method="post">
                      <input type="hidden" name="todo_id" value='{{ item.id}}'>
                      <button type="submit" class="btn btn-outline-success mr-2">Done</button>
                    </form>
                  {% endif %}

                  <form action="{{ url_for('deleteItem') }}" method="post">
                    <input type="hidden" name="todo_id" value='{{ item.id }}'>
                    <button type="submit" class="btn btn-outline-danger ml-1"  onclick="return confirm('Are you sure?')">Delete</i></button>
                  </form>

                </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}